configuration {
  display-drun: "Applications";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 13";
  modi: "drun";
  show-icons: true;
  icon-theme: "Papirus-Dark";
}

@import "~/.cache/wal/colors-rofi-dark"

element {
    spacing: 10px;
}

element-icon {
  size: 4ch;
}

element-text {
    vertical-align: 0.5;
}

listview {
	lines: 10;
    scrollbar: false;
}

entry {
    placeholder: "";
}

element.selected.normal {
    text-color: black;
}
