[Unit]
Description=Borgmatic Backup
OnFailure=borgbackup-fail.service
After=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-online --quiet --timeout=60
ExecStart=%h/.local/bin/borgbackup.sh
TimeoutStartSec=2h
