[Unit]
Description=Notify user that backup was not initiated

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send --icon="gtk-dialog-warning" --urgency=critical "Borgmatic Backup" "Backup service failed to start"
