// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us,sk"
            variant ",qwerty"
            options "grp:alt_shift_toggle"
        }
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1080"
    scale 1
    transform "normal"
}

layout {
    gaps 16
    center-focused-column "always"
    preset-column-widths {
        // proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 3
        active-color "#b4befe"
        inactive-color "#505050"
    }

    border {
        off
    }

    shadow {
    }

    struts {
    }
}

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xdg-user-dirs-update"
spawn-sh-at-startup "foot --server"
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg -m fill -i ~/.wallpaper"
spawn-sh-at-startup "sleep 10; ~/.local/bin/check_backup.sh"
spawn-at-startup "waybar"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="btop"
    match app-id="yazi"
    default-column-width { proportion 0.75; }
}

window-rule {
    match app-id="brave-browser"
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id=r#".*alculator"#
    match app-id="nm-connection-editor"
    match app-id="blueman-manager"
    match app-id="xarchiver"
    match app-id="pinentry-gtk"
    open-floating true
}

hotkey-overlay {
    skip-at-startup
}

environment {
    MOZ_ENABLE_WAYLAND "1"
    OZONE_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    GDK_BACKEND "wayland"
    QT_QPA_PLATFORM "wayland"
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Application binds
    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "footclient"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+B hotkey-overlay-title="Run web browser: Brave" { spawn "brave"; }
    Mod+E hotkey-overlay-title="Run file explorer" { spawn "pcmanfm"; }

    Mod+Ctrl+O hotkey-overlay-title="Display configuration" { spawn-sh "wdisplays & pavucontrol"; }
    Mod+Ctrl+D { spawn "~/.config/niri/scripts/fuzzel-adoc"; }
    Mod+Ctrl+W { spawn "~/.config/niri/scripts/fuzzel-webapp"; }
    Mod+Shift+B { spawn-sh "killall -SIGUSR2 waybar"; }
    Mod+Escape { spawn-sh "footclient --app-id btop btop"; }
    Mod+Slash { spawn-sh "footclient --app-id yazi bash -ic 'yazi'"; }
    Mod+M hotkey-overlay-title="Mount USB Disk" { spawn "~/.config/niri/scripts/fuzzel-usb-mount"; }
    Mod+N hotkey-overlay-title="Mount network drive" { spawn "~/.config/niri/scripts/fuzzel-network-mount"; }
    Mod+period hotkey-overlay-title="Edit config files" { spawn "~/.config/niri/scripts/fuzzel-config"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q { close-window; }
    Mod+Shift+Q hotkey-overlay-title="Power menu" { spawn "~/.config/niri/scripts/fuzzel-power"; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Shift+Print { screenshot; }
    Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
