[mgr]
ratio          = [ 2, 3, 5 ]
sort_by        = "extension"

[preview]
wrap            = "yes"
max_width       = 800
max_height      = 900
cache_dir       = "~/.cache/yazi/"

[opener]
edit = [
	{ run = "~/.config/yazi/scripts/term.sh vim %s1", desc = "Edit", orphan = true },
	{ run = "bat %s1", desc = "View", block = true },
]
open = [
	{ run = "xdg-open %s1", desc = "Open in GUI application" },
]
image = [
	{ run = "~/.config/yazi/scripts/view_image.sh %s1", desc = "View image" },
]
reveal = [
	{ run = "xdg-open %d1", desc = "Show in File Manager" },
]
info = [
	{ run = '''mediainfo %s1; echo "Press enter to exit"; read _''', block = true, desc = "Show media info" },
]
wallpaper = [
	{ run = "~/.config/yazi/scripts/set_wallpaper.sh %s1", desc = "Set as wallpaper" },
]

[open]
prepend_rules = [
	{ name = "*/", use = [ "open" ] },
	{ mime = "text/html",       use = [ "edit", "open", "reveal" ] },
	{ mime = "image/*",         use = [ "image", "wallpaper", "info", "reveal" ] },
	{ mime = "{audio,video}/*", use = [ "play", "info", "reveal" ] },
	{ name = "*.epub",          use = [ "open", "extract", "reveal" ] },
]

[tasks]
image_bound = [ 6000, 6000 ]

[plugin]
prepend_fetchers = [
    # { id = "mime", url = "local://*", run = "mime-ext.local", prio = "high" },
    { id = "mime", url = "remote://*", run = "mime-ext.remote", prio = "high" },
]

prepend_preloaders = [
    { name = "/home/mirko/GDrive/**", run = "noop" },
]

